<h1>Listing reservation_costs</h1>

<table>
  <tr>
    <th>Reservation</th>
    <th>Rate</th>
    <th>Day</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @reservation_costs.each do |reservation_cost| %>
  <tr>
    <td><%= reservation_cost.reservation_id %></td>
    <td><%= reservation_cost.rate %></td>
    <td><%= reservation_cost.day %></td>
    <td><%= link_to 'Show', reservation_cost %></td>
    <td><%= link_to 'Edit', edit_reservation_cost_path(reservation_cost) %></td>
    <td><%= link_to 'Destroy', reservation_cost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Reservation cost', new_reservation_cost_path %>
