<%= simple_form_for @room_cost, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :room_id %>
  <%= f.input :reservation_id %>
  <%= f.input :day %>
  <%= f.input :cost %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                room_costs_path, :class => 'btn' %>
  </div>
<% end %>
