$('#customer_modal_table tbody').append('<tr><td class="cid"><%= escape_javascript(@customer.id.to_s) %></td><td class="cname"><%= escape_javascript(@customer.name) %></td><td><%= escape_javascript(@customer.email) %></td><td><%= escape_javascript(@customer.phone) %></td><td><%= escape_javascript(@customer.address) %></td></tr>')
$('#customer_modal_table tbody tr').click(function() {
  $('#customer_modal').modal("hide");
  name = $(this).find('td.cname').text()
  id = $(this).find('td.cid').text()
 
  $('#reservation_customer_name').val(name);
  $('#reservation_customer_id').val(id); 
});