<%- model_class = Customer -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human(:count => 2) %></h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= sort_link @q, :name,  model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:vip) %></th>
      <th><%= model_class.human_attribute_name(:phone) %></th>
      <th><%= model_class.human_attribute_name(:address) %></th>
     
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.id %></td>
        <td><%= link_to customer.name, customer_path(customer) %></td>
        <td><%= customer.email %></td>
        <td><%= customer.description %></td>
        <td><%= customer.vip %></td>
        <td><%= customer.phone %></td>
        <td><%= customer.address %></td>
       
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_customer_path(customer), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      customer_path(customer),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_customer_path,
            :class => 'btn btn-primary' %>

<%= will_paginate @customers %>


<%= content_for :sidebar do %>
	<%= search_form_for @q, :html => { class: 'well' } do |f| %>	
		<div class="control-group">
			<%= f.label :name_cont, class: 'control-label' %> 
		 	<div class="controls">
		 		<%= f.text_field :name_cont %>
		 	</div>
		</div>
		<div class="form-actions">
			<%= f.submit "Εύρεση", class: 'btn btn-primary' %>
			<%= link_to "Καθαρισμός", rooms_path, class: "btn" %>
		</div>
	<%end%>
<%end%>