<%- model_class = Reservation -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:reference) %>:</strong></dt>
  <dd><%= @reservation.reference %></dd>
  <dt><strong><%= model_class.human_attribute_name(:room_id) %>:</strong></dt>
  <dd><%= @reservation.room_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:fromdate) %>:</strong></dt>
  <dd><%= @reservation.fromdate %></dd>
  <dt><strong><%= model_class.human_attribute_name(:todate) %>:</strong></dt>
  <dd><%= @reservation.todate %></dd>
  <dt><strong><%= model_class.human_attribute_name(:customer_id) %>:</strong></dt>
  <dd><%= @reservation.customer_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:deposit) %>:</strong></dt>
  <dd><%= @reservation.deposit %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @reservation.description %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              reservations_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_reservation_path(@reservation), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              reservation_path(@reservation),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
