<%- model_class = RoomRate -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:duration) %>:</strong></dt>
  <dd><%= @room_rate.duration %></dd>
  <dt><strong><%= model_class.human_attribute_name(:days) %>:</strong></dt>
  <dd><%= @room_rate.days %></dd>
  <dt><strong><%= model_class.human_attribute_name(:rate) %>:</strong></dt>
  <dd><%= @room_rate.rate %></dd>
  <dt><strong><%= model_class.human_attribute_name(:room_type_id) %>:</strong></dt>
  <dd><%= @room_rate.room_type_id %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              room_rates_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_room_rate_path(@room_rate), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              room_rate_path(@room_rate),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
